body, html {
    height: 100%;
    margin: 0;
}

.welcome-message {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bg, #bg2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease;
    z-index: -1;
}

#bg2 {
    opacity: 0;
}

.welcome-message {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7em; /* Increased font size */
    color: rgba(247, 8, 8, 0.996);
    line-height: 1.2; /* Adjust line height as needed */
}
